.search-form {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: white;
  font-size: 16px;
  outline: none;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .search-form {
    width: 90%;
    margin-bottom: 80px;
  }

  .search-input {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .search-form {
    width: 100%;
    flex-direction: column;
    
    margin-bottom: 80px;
    
  }

  .search-input {
    width: 100%;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px; 
  }
}
